@import "./_breakpoints";

@mixin grid() {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include respond-to-breakpoint(tablet) {
    max-width: 80%;
  }

  @include respond-to-breakpoint(desktop) {
    max-width: 70%;
  }
}

.grid {
  @include grid();
}